@model CidicomPrototype.Models.Sitios

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Sitios</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.nameSitios)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nameSitios)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Clientes.NameCliente)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Clientes.NameCliente)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.IDSitios }) |
    @Html.ActionLink("Back to List", "Index")
</p>
