@model CidicomPrototype.Models.Sitios

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Sitios</legend>

        @Html.HiddenFor(model => model.IDSitios)

        <div class="editor-label">
            @Html.LabelFor(model => model.nameSitios)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.nameSitios)
            @Html.ValidationMessageFor(model => model.nameSitios)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IDCliente, "Clientes")
        </div>
        <div class="editor-field">
            @Html.DropDownList("IDCliente", String.Empty)
            @Html.ValidationMessageFor(model => model.IDCliente)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
