@model IEnumerable<CidicomPrototype.Models.Activos>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nameActivos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sitios.nameSitios)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nameActivos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sitios.nameSitios)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDActivos }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDActivos }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDActivos })
        </td>
    </tr>
}

</table>
